extends layout 

block content 

    h1 #{title}

    form(method='POST' action='')
        div.form-group
            label(for='book') Book:
            select#book.form-control(type='select' placeholder='Select book' name='book' required='true')
                for book in book_list 
                    if book.title === bookinstance_details.book.title
                        option(value=book._id selected=true) #{book.title} 
                    else 
                        option(value=book._id) #{book.title}

        div.form-group
            label(for='imprint') Imprint:
            input#imprint.form-control(type='text' name='imprint' required='true' value=bookinstance_details.imprint)

        div.form-group
            label(for='due_back') Date when book available:
            input#due_back.form-control(type='date' name='due_back' value=bookinstance_details.due_back.toISOString().substr(0,10))

        div.form-group
            label(for='status') Status:
        select#status.form-control(type='select' name='status' required='true')
            option(value='Maintenance', selected=bookinstance_details.status === 'Maintenance') Maintenance
            option(value='Available', selected=bookinstance_details.status === 'Available') Available
            option(value='Loaned', selected=bookinstance_details.status === 'Loaned') Loaned
            option(value='Reserved', selected=bookinstance_details.status === 'Reserved') Reserved


        input(type='hidden' name="bookinstanceid" value=bookinstance_details._id)

        button.btn.btn-primary(type='submit') Submit


