extends layout

block content
  h1.text-center #{title}

  .container
    a(href="/menu") back to menu
    .row
      .col-md-4
        img(src=`/images/${item.image}.jpg`, alt=`${item.name}`, class="img-fluid")
      .col-md-8
        h2=item.name
        p= item.description
        p.price
          | Price: 
          span(class="text-primary") $#{item.price.toFixed(2)}
        form(method="POST" action=`/menu/${item._id}`)
          .form-group
            label(for="quantity") Quantity:
            input(type="number", name="quantity", id="quantity", value=1, min=1, class="form-control")
          button(type="submit", class="btn btn-primary mt-2") Add to Cart
